/models/GRU4Rec/
/models/GRU4REC-pytorch/checkpoint/
/models/GRU4REC-pytorch/data/yoochoose-data/
/models/GRU4REC-pytorch/data/preprocessed_data/recSys15Test.txt
/models/GRU4REC-pytorch/data/preprocessed_data/recSys15TrainOnly.txt
/models/GRU4REC-pytorch/data/preprocessed_data/recSys15Valid.txt
/IPP/IPP_feedback/
/IPP/IPP-Template-master.zip
/IPP/IPP_Yunlong_michael_feedback.pdf
/IPP/IPP_submission.pdf
/IPP/w1/meetings/
/IPP/w2/meetings/
/IPP/w3/meetings/
/IPP/w4/meetings/
/IPP/w5/meetings/
/IPP/w6/IPP_michael.txt
/IPP/w6/IPP_Page_reduce_ins.md
/IPP/w6/IPP_Wardrope.md
/IPP/w6/receipt_B228183.pdf
/IPP/w6/IPP_2406121_V2.pdf
/IPP/w6/B228183.pdf
/week0/IPP_report.pdf
/models/GRU4REC-pytorch/data/processed_small/
/models/GRU4REC-pytorch/data/raw_data/
/test.ipynb
/models/GRU4REC-pytorch/data/preprocessed_data/

/week1/scripts.txt
/week1/next_steps.txt
/datasets/
/models/SASRec/data/processed/ml-20m.txt
